.item-detail{
    width: 80%;
    background-color: rgb(245, 245, 245);
    margin: 1rem auto 2.5rem auto;
    padding: 3rem 1rem;
    color: rgb(40, 44, 52);
    font-size: 1rem;
    display: flex;
    flex-flow: row wrap;
}
.item-detail-img{
    width: 60%;
    display: inline-block;
    margin: auto;
}
.item-detail-picture{
    width: 100%;
    display: inline-block;
}
.item-detail-text{
    width: 40%;
    display: inline-block;
    padding: 0 1.5rem;
    margin: auto 0;
    
}
.item-detail-title{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    margin: 0.75rem 0rem;
    color: rgb(7, 197, 194);
}
.endText{
    color: rgb(98, 107, 165);
    margin-bottom: 0;
    font-weight: 600;
}
.endButton{
    background-color: rgb(98, 107, 165);
    border: none;
}
.endButton:hover{
    background-color: rgb(79, 87, 138);
}
.msg{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(215, 208, 183, 0.6);
}
.msg-shop{
    font-family: 'Amatic SC', cursive;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    margin: 0 auto;
    width: 500px;
    padding: 1.5rem 0;
    background-color: rgba(95, 127, 122, 0.9);
}
@media screen and (max-width: 576px){
    .item-detail{
        width: 100%;
        padding: 2rem 1rem;
        margin: 1rem auto;
    }
    .item-detail-img{
        width: 100%;
    }
    .item-detail-text{
        width: 100%;
    }
    .msg{
        width: 100%;
    }
    .msg-shop{
        width: 300px;
        padding: .5rem 0;
        font-size: 1.5rem;
    }
}