.details-title{
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    padding: 0.75rem 0rem;
    color: rgb(65, 235, 206);
    font-weight: 800;
}
.load-detail{
    display: block;
    margin: 5rem auto;
    margin-right: 8rem;
    height: 450px;
}
