.body-bg{
    background-color: #282c34;
    text-align: center;
    color: white;
    padding-bottom: 2.5rem;
}
.greeting-title{
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
    text-shadow: 5px 5px 10px rgba(199, 154, 213, 0.5);
    padding: 2rem 0 0.5rem 0;
}
.loading{
    margin: 7rem auto 0 auto;
    display: block;
    height: 450px;
    color: rgb(164, 230, 219);
}
@media screen and (max-width: 576px){
    .greeting-title{
        font-size: 3rem;
        padding-bottom: 0;
    }
    .loading{
        margin: 4rem auto 0 auto;
    }
}