.body-bg{
    background-color: #282c34;
    text-align: center;
    color: white;
    padding-bottom: 2.5rem;
}
.greeting-title{
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
    text-shadow: 5px 5px 10px rgba(199, 154, 213, 0.5);
    padding: 2rem 0;
}
.loading{
    margin: 3rem auto 9rem auto;
    color: rgb(199, 154, 213);
    width: 60px;
    height: 60px;
    border-width: 7px;
}