.product-card{
    width: 18rem;
    background-color: rgb(245, 245, 245);
    margin: 1.5rem;
    color: rgb(40, 44, 52);
    font-size: 1rem;
    padding-bottom: 2rem;
}
.prod-img{
    width: inherit;
}
.prod-title{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    margin: 0.75rem 0rem;
    color: rgb(150, 63, 193);
}
.details-item-button{
    font-weight: 600;
    background-color: rgb(199, 154, 213);
    border: none;
    color: rgb(40, 44, 52);
    width: 200px;
}
.details-item-button:hover{
    background-color: rgb(150, 63, 193);
    color: white;
}
@media screen and (max-width: 576px){
    .product-card{
        margin: 1rem auto;
    }
}