.footer-data{
    background-color: rgb(245, 245, 245);
    font-family: 'Nanum Brush Script', cursive;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: rgb(40, 44, 52);
    text-align: center;
}
.footer-title{
    font-family: 'Nanum Brush Script', cursive;
    font-size: 2rem;
    font-weight: 500; 
    color: rgb(40, 44, 52);
    margin-bottom: 0;
    animation: textFooter 7s ease-in-out infinite;
    background: linear-gradient(-90deg, rgb(154, 248, 92), rgb(7, 197, 194), rgb(150, 63, 193), rgb(238, 86, 205) );
    background-size: 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes textFooter {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50%}
    100% { background-position: 0 50%}
}
.footer-text{
    font-size: 1.2rem;
}
.footer-media-container{
    margin: 1rem 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: row nowrap;
    align-items: center;
    justify-content: center;
}
.footer-icon{
    display: flex;
    flex-wrap: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 14px;
    width: 68px;
    height: 68px;
    line-height: 0;
    text-align: center;
    color: white;
    border-radius: 50%;
}
.icon{
    font-size: 24px;
}
.icon-facebook{
    background-color: rgb(59, 89, 152);
}
.icon-instagram{
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.icon-mail{
    background-color:rgb(189, 53, 24);
}
.icon-github{
    background-color:black;
}
.icon-linkedin{
    background-color:rgb(14, 118, 168);
}
.footer-icon:hover .icon{
    font-size: 34px;
    text-decoration: none;
    color: white;
}
.footer-icon:hover{
    text-decoration: none;
    box-shadow: 0px 0px 10px rgb(119, 123, 131);
    transform: rotate(360deg);
    transition: ease-out .4s;
}
.footer-copyright{
    font-size: 1rem;
    margin: 0;
}
@media screen and (max-width: 576px){
    .footer-icon{
        margin: 0 5px;
        width: 48px;
        height: 48px;
    }
}