.product-card{
    width: 18rem;
    background-color: aliceblue;
    margin: 0 auto;
    color: rgb(40, 44, 52);
    padding-bottom: 1.5rem;
}
.prod-img{
    width: inherit;
}
.prod-title{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    margin: 0.75rem 0rem;
}
.prod-amount{
    margin-bottom: 0.75rem;
}
.amount{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding: 0 1rem;
}